*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

body {
  font-family: "Open Sans", sans-serif, Helvetica;
  font-weight: normal;
  // font-size: 40px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: white;
}

.layout {
  margin-top: 100px;
  &__header {
    display: grid;
    grid-template-columns: [pitch-s] 45% [pitch-e image-s] 1fr [image-e];
    grid-template-rows: [s] 1fr [e];
  }
}

.header {
  height: 1200px;
  &__pitch {
    grid-column: pitch-s/pitch-e;
    grid-row: s/e;
  }
  &__image-container {
    grid-column: image-s/image-e;
    grid-row: s/e;
  }
  &__search {
    // position: absolute;
    justify-self: end;
    // grid-column: search-s/search-e;
  }
}

.image-container {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.pitch {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 200px;
    padding-top: 0px;
    align-items: flex-start;
    justify-content: center;
  }
  &__maintext {
    //   margin-top: 32px;
    font-size: 88px;
    line-height: 112px;
  }
  &__subtext {
    margin-top: 56px;
    margin-bottom: 56px;
    font-size: 28px;
  }
  &__button {
    height: 80px;
    width: 320px;
    background-color: #57a772;
    border: 1px solid transparent;
    border-radius: 100px;

    color: white;
    font-size: 18px;
    font-weight: bold;
    // padding: 5px 16px;
    // padding-bottom: 6px;
    // box-shadow: none;
    box-sizing: border-box;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.search {
  display: grid;
  grid-template-columns: [search-s] 1.95fr [search-e category-s] 1fr [category-e city-s] 1fr [city-e button-s] 0.5fr [button-e];
  grid-template-rows: [search-s city-s category-e button-s] 1fr [search-e city-e category-e button-e];
  height: 100px;
  width: 80vw;
  border-radius: 10px;

  -webkit-box-shadow: 4px 4px 27px 4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 4px 4px 27px 4px rgba(0, 0, 0, 0.19);
  box-shadow: 4px 4px 27px 4px rgba(0, 0, 0, 0.19);
  margin-top: -8%;

  &__search {
    grid-column: search-s/search-e;
    grid-row: search-s/search-e;
    border-right: 1px solid #e8e8e8;
  }
  &__city {
    grid-column: city-s/city-e;
    grid-row: city-s/city-e;
    border-right: 1px solid #e8e8e8;
  }
  &__category {
    grid-column: category-s/category-e;
    grid-row: category-s/category-e;
    border-right: 1px solid #e8e8e8;
  }
  &__button {
    grid-column: button-s/button-e;
    grid-row: button-s/button-e;
  }
}

.styled-input {
  display: grid;
  background-color: transparent;

  input,
  select,
  i {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }

  input,
  select,
  option {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    // border-radius: 15px;

    background-color: white;
    border: black;
    color: black;
    font-size: 24px;
    padding-left: 45px;
    // padding-right: 40px;
    // padding: 0px 35px 0px 0px;
    &::placeholder {
      color: grey;
    }
  }

  .category-select,
  .city-select {
    background-color: #fff;
    border: transparent;
    border-radius: 0px 0px 0px 0px;
    color: black;
    width: 100%;

    .disabled {
      color: grey;
    }
  }

  i {
    padding-top: 45px;
    padding-right: 45px;
    font-size: 24px;
    color: black;
    line-height: 10px;
    justify-self: end;
  }
}

.border-left {
  // border: 0px 2px 2px 0px;
  // border: solid #000;
  // border-width: 0 1px;
  // border-right: 2px solid black;
  border-radius: 10px 0px 0px 10px;
}

.border-right {
  // border: solid #000;
  // border-width: 0 1px;
  // border-right: 2px solid black;
  border-radius: 0px 10px 10px 0px;
}

.search-button {
  background-color: #57a772;
  border-width: 0px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
