*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif, Helvetica;
  font-weight: normal;
  // font-size: 40px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: #F5F5F5;
}

.layout {
  &__header {
    display: grid;
    grid-template-columns: [pitch-s] 2fr [pitch-e image-s] 2fr [image-e];
    grid-template-rows: [s] 1fr [e];
  }
}

.header {
  &__pitch {
    grid-column: pitch-s/pitch-e;
    grid-row: s/e;
  }
  &__image-container {
    grid-column: image-s/image-e;
    grid-row: s/e;
  }
  &__search {
    // position: absolute;
    justify-self: end;
    // grid-column: search-s/search-e;
  }
}

.image-container {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.pitch {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 200px;
    align-items: flex-start;
    justify-content: center;
  }
  &__maintext {
    //   margin-top: 32px;
    font-size: 88px;
    line-height: 112px;
  }
  &__subtext {
    margin-top: 56px;
    margin-bottom: 56px;
    font-size: 28px;
  }
  &__button {
    height: 80px;
    width: 320px;
    background-color: #57a772;
    border: 1px solid transparent;
    border-radius: 100px;

    color: white;
    font-size: 18px;
    font-weight: bold;
    // padding: 5px 16px;
    // padding-bottom: 6px;
    // box-shadow: none;
    box-sizing: border-box;
  }
}
