body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h2, h1,h3, p, li a {
    font-family: sans-serif, Arial, Helvetica;
}

.checked {
    color:#57a772;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Navbar */

.nav_bar_logo{
    width:10%;
}

.nav_action_buttons{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.action_button{
    padding:6px;
}
.action_button:hover{
    background-color: #57a772;
}
.navbar_container{
    width: 80%;
    padding:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav_option{
    height: 100%;
}
.navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin:0;
    padding:0;
    -webkit-box-shadow: 0px 7px 5px -1px rgba(148,148,148,1);
    -moz-box-shadow: 0px 7px 5px -1px rgba(148,148,148,1);
    box-shadow: 0px 7px 5px -1px rgba(148,148,148,1);
}
.navbar_ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
}
.nav_option {
        display: block;
        color: black;
        text-align: center;
        padding: 16px 16px;
        height: 100%;
        text-decoration: none;
}

.nav_option:hover {
    background-color: #57a772;
}

/*Navbar End*/

.card_list{
    width: 70%;
    padding: 20px;
    height: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card {
    background-color: transparent;
    padding: 40px;
    width: 300px;
    height: 300px;

    perspective: 1000px;
}

.card_front_img:hover {
    animation: shake 0.1s infinite;
    animation-timing-function: linear;   
}

@keyframes shake {
    0% {transform: rotate(0.5deg);}
    50% {transform: rotate(-0.5deg);}
    100% {transform: rotate(0.5deg);}
}

img {
    border-radius: 5px;

}


/* This container is needed to position the front and back side */
.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }

.card_front_info_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .card_front {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
    background-color: white;
    color: black;
  }


  .card_front_rating {
      margin-top: 19px;
  }

