*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

body {
  font-family: "Open Sans", sans-serif, Helvetica;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: white; }

.layout__header {
  display: grid;
  grid-template-columns: [pitch-s] 45% [pitch-e image-s] 1fr [image-e];
  grid-template-rows: [s] 1fr [e]; }

.rccs {
  margin: 0 !important; }

.header {
  height: 1200px; }
  .header__pitch {
    grid-column: pitch-s/pitch-e;
    grid-row: s/e; }
  .header__image-container {
    grid-column: image-s/image-e;
    grid-row: s/e; }
  .header__search {
    justify-self: end; }

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.pitch {
  display: flex;
  align-items: center;
  justify-content: center; }
  .pitch__container {
    display: flex;
    flex-direction: column;
    padding: 200px;
    padding-top: 0px;
    align-items: flex-start;
    justify-content: center; }
  .pitch__maintext {
    font-size: 88px;
    line-height: 112px; }
  .pitch__subtext {
    margin-top: 56px;
    margin-bottom: 56px;
    font-size: 28px; }
  .pitch__button {
    height: 80px;
    width: 320px;
    background-color: #57a772;
    border: 1px solid transparent;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box; }

.search-container {
  display: flex;
  justify-content: center;
  background-color: transparent; }

.search {
  display: grid;
  grid-template-columns: [search-s] 1.95fr [search-e category-s] 1fr [category-e city-s] 1fr [city-e button-s] 0.5fr [button-e];
  grid-template-rows: [search-s city-s category-e button-s] 1fr [search-e city-e category-e button-e];
  height: 100px;
  width: 80vw;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 27px 4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 4px 4px 27px 4px rgba(0, 0, 0, 0.19);
  box-shadow: 4px 4px 27px 4px rgba(0, 0, 0, 0.19);
  margin-top: -8%; }
  .search__search {
    grid-column: search-s/search-e;
    grid-row: search-s/search-e;
    border-right: 1px solid #e8e8e8; }
  .search__city {
    grid-column: city-s/city-e;
    grid-row: city-s/city-e;
    border-right: 1px solid #e8e8e8; }
  .search__category {
    grid-column: category-s/category-e;
    grid-row: category-s/category-e;
    border-right: 1px solid #e8e8e8; }
  .search__button {
    grid-column: button-s/button-e;
    grid-row: button-s/button-e; }

.styled-input {
  display: grid;
  background-color: transparent; }
  .styled-input input,
  .styled-input select,
  .styled-input i {
    grid-row: 1/-1;
    grid-column: 1/-1; }
  .styled-input input,
  .styled-input select,
  .styled-input option {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: black;
    color: black;
    font-size: 24px;
    padding-left: 45px; }
    .styled-input input::placeholder,
    .styled-input select::placeholder,
    .styled-input option::placeholder {
      color: grey; }
  .styled-input .category-select,
  .styled-input .city-select {
    background-color: #fff;
    border: transparent;
    border-radius: 0px 0px 0px 0px;
    color: black;
    width: 100%; }
    .styled-input .category-select .disabled,
    .styled-input .city-select .disabled {
      color: grey; }
  .styled-input i {
    padding-top: 45px;
    padding-right: 45px;
    font-size: 24px;
    color: black;
    line-height: 10px;
    justify-self: end; }

.border-left {
  border-radius: 10px 0px 0px 10px; }

.border-right {
  border-radius: 0px 10px 10px 0px; }

.search-button {
  background-color: #57a772;
  border-width: 0px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer; }

.layout_commande {
  display: grid;
  grid-template-columns: 1fr [cart-s cart-checkout-s] 1.5fr [cart-e cart-checkout-e] 1fr;
  padding-top: 200px; }

.cart {
  grid-column: cart-s/cart-e;
  margin: 0 150px; }
  .cart__header {
    margin-bottom: 100px; }
    .cart__header h1 {
      font-size: 64px;
      font-weight: 600; }

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px; }
  .item__img {
    object-fit: cover;
    height: 125px;
    width: 115px;
    min-width: 115px; }
  .item__info {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .item__actions {
    margin: auto 0;
    margin-left: 250px; }

.img-container__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 6px; }

.info__name {
  margin-top: 0px;
  margin-bottom: 14px;
  font-size: 16px; }

.info__title {
  font-size: 22px;
  font-weight: 600; }

.info__price {
  width: 76px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 100px;
  margin-top: 28px;
  position: relative;
  background: white;
  -webkit-box-shadow: 4px 4px 47px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 47px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 47px 4px rgba(0, 0, 0, 0.1); }

.info__details {
  width: 105px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 100px;
  margin-top: 28px;
  margin-left: 32px;
  position: relative;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 4px 4px 47px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 47px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 47px 4px rgba(0, 0, 0, 0.1); }

.information {
  display: flex;
  flex-direction: row; }

.price {
  position: relative;
  top: 50%;
  font-weight: 700;
  transform: translate(0, -50%);
  text-align: center; }

.details {
  font-weight: 700;
  text-align: center;
  cursor: pointer; }
  .details__angle {
    margin-left: 6px; }

.action-button {
  border: none;
  font-size: 32px;
  cursor: pointer; }

.cart-checkout {
  position: relative;
  background: #f8f8f8;
  height: 15vh;
  align-items: center;
  justify-items: center;
  border-radius: 6px;
  margin-top: 24px;
  grid-column: cart-checkout-s/cart-checkout-e;
  display: grid;
  grid-template-columns: [num-s] 1.5fr [num-e total-s] 1fr [total-e cartbtn-s] 1fr [cartbtn-e];
  font-size: 24px; }

.cart-product-num {
  grid-column: num-s/num-e; }

.cart-total {
  grid-column: total-s/total-e; }

.cart-button-container {
  grid-column: cartbtn-s/cartbtn-e; }

.cart-button {
  font-size: 20px;
  font-weight: 700;
  height: 42px;
  width: 130px;
  background: #f8f8f8;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50px; }

.layout_paiment {
  padding-top: 200px;
  display: grid;
  grid-column: 1fr [paiment-s] 1fr [paiment-e] 1fr; }

.paiment {
  grid-column: paiment-s/paiment-e; }
  .paiment__header {
    margin-bottom: 100px;
    margin-left: 100px; }
    .paiment__header h1 {
      font-size: 64px;
      font-weight: 600; }
  .paiment__address {
    grid-column: address-s/address-e;
    border: 2px solid #e8e8e8;
    border-radius: 4px;
    height: auto;
    width: 40vw;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px; }
    .paiment__address h1 {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 20px; }
    .paiment__address p {
      margin-bottom: 60px;
      padding-right: 100px; }
  .paiment__method {
    grid-column: address-s/address-e;
    border: 2px solid #e8e8e8;
    border-radius: 4px;
    height: auto;
    width: 40vw;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px; }
    .paiment__method h1 {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 20px; }
    .paiment__method p {
      padding-right: 100px;
      margin-bottom: 16px; }
    .paiment__method i {
      font-size: 42px;
      margin-bottom: 60px;
      margin-right: 16px; }
  .paiment .payment-info {
    display: flex;
    flex-direction: row; }
  .paiment__checkout {
    background: #f8f8f8;
    height: auto;
    width: 40vw;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 100px; }

.checkout__summary {
  font-weight: 600;
  font-size: 32px; }

.checkout__list {
  margin-top: 60px; }

.coupon {
  height: 40px;
  margin-bottom: 90px; }
  .coupon__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; }
    .coupon__form input {
      padding-left: 24px;
      font-weight: 600;
      font-size: 14px;
      margin-right: 16px;
      border-radius: 4px;
      border: 1px solid #e2e2e2; }
    .coupon__form button {
      width: 72px;
      font-weight: 600;
      font-size: 16px;
      color: white;
      background: black;
      border-radius: 4px;
      cursor: pointer; }

.pay {
  padding-bottom: 100px; }
  .pay button {
    height: 54px;
    width: 250px;
    border-radius: 40px;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600; }

.address-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .address-info label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px; }
  .address-info input {
    height: 32px;
    border: 2px solid #e8e8e8;
    border-radius: 4px;
    width: 40%;
    padding-left: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px; }

.cardnumber-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .cardnumber-info label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px; }
  .cardnumber-info input {
    height: 32px;
    border: 2px solid #e8e8e8;
    border-radius: 4px;
    width: 40%;
    padding-left: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px; }

.payment-details {
  display: flex;
  flex-direction: column; }
  .payment-details label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px; }
  .payment-details input {
    height: 32px;
    border: 2px solid #e8e8e8;
    border-radius: 4px;
    width: 40%;
    padding-left: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px; }

.cardnumber {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .cardnumber input {
    width: 60%; }
  .cardnumber__details {
    display: grid;
    width: 70%;
    grid-template-columns: [names-s] 2fr [names-e exp-s] 1fr [exp-e cvv-s] 1fr [cvv-e]; }
    .cardnumber__details__name {
      grid-column: names-s/names-e; }
      .cardnumber__details__name input {
        width: 80%; }
    .cardnumber__details__exp {
      grid-column: exp-s/exp-e; }
    .cardnumber__details__cvv {
      grid-column: cvv-s/cvv-e; }

.menu {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [menuHeader-s] 40% [menuHeader-e menuMenu-s] 60% [menuMenu-e]; }
  .menu__header {
    grid-row: menuHeader-s/menuHeader-e; }
  .menu__menu {
    grid-row: menuMenu-s/menuMenu-e; }
  .menu__image-container {
    height: 85%; }
    .menu__image-container img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .menu__restaurant-card {
    float: left;
    position: relative;
    margin-top: -14%;
    margin-left: 10vw;
    padding: 48px;
    border-radius: 4px;
    background: white; }
  .menu__bar {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center; }
    .menu__bar a {
      font-size: 24px;
      color: black;
      cursor: pointer;
      text-decoration: none;
      margin-right: 64px; }
