.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h2, h1,h3, p, li a {
    font-family: sans-serif, Arial, Helvetica;
}

.checked {
    color:#57a772;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.card_list{
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.card_front_img {
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.card_front_info_top {
    text-align: center;
}

.card_front_img:hover img{
    filter:blur(2px) brightness(60%);
}

.card_front_img img {
    border-radius: 5px;
}


.card_front_hours{
    position: absolute;
    top:0%;
    margin-left: 10px;
    color:#fff;
    opacity:0;
    transition:.3s;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_front_hours h2,h4{
    padding: 4px;
    margin: 0px;
}

.card_front_img:hover :not(img){
    opacity: 1;
}

.card_front_info_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

  .card_front_rating {
      margin-top: 19px;
  }

